<% provide(:title, "Edit Task") %>
<% provide(:class_text, 'EditTask') %>
<% provide(:button_text, '更新') %>
<% provide(:button_size, 'md') %>
<h1>タスク編集</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= render 'form' %>
  </div>
</div>
